@page "/"

<h1>Booster Development Test</h1>

<h3>Rules: </h3>
<ol>
    <li>Use .Net v4.0+.</li>
    <li>Use C#.</li>
    <li>All code and referenced assemblies must be submitted in one zip file.  We need to be able to unzip and run the solution without changing settings, adding references or creating any databases.</li>
    <li>Create a suite of unit tests – all tests should be passing.</li>
    <li>The code must be submitted on or before the day and time agreed on.</li>
</ol>

Hint: We are looking at how you approach the problem and the patterns you use to solve them.  We are looking for someone that understands domain modelling, patterns and practices, and is technically proficient. Show us what you know and show us something impressive.

<h3>Question: </h3>
Write an application that will continually read text data from the stream provided (DevTest.LorumIpsumStream).

Then provide in real time (i.e. as you read it from the stream) the following information about the text:
<ul>
    <li>Total number of characters and words</li>
    <li>The 5 largest and 5 smallest word</li>
    <li>10 most frequently used words</li>
    <li>List showing all the characters used in the text and the number of times they appear sorted in descending order</li>
</ul>